<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="likes">
	
	 <select id="llist" parameterType="String" resultType="lvo">
		SELECT * FROM Likes l 
         INNER JOIN Products p ON l.product_idx=p.product_idx
         INNER JOIN users u ON u.user_idx=l.user_idx 
         WHERE u.user_id = #{user_id}
	</select>
	
</mapper>
