<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manager">
	<select id="list" resultType="mmvo" parameterType="map">

		SELECT * FROM manager
		LIMIT #{offset}, #{size}
	</select>

	<select id="detail" parameterType="String" resultType="mmvo">
		select *
		from manager where manager_id = #{manager_id}
	</select>

	<insert id="insert" parameterType="mmvo">
		insert into
		manager(manager_id, manager_pw, manager_type, manager_email,
		manager_name)
		values(#{manager_id}, #{manager_pw}, #{manager_type},
		#{manager_email}, #{manager_name})
	</insert>

	<delete id="delete" parameterType="String">
		delete from manager where
		manager_id = #{manager_id}
	</delete>

	<update id="update" parameterType="mmvo">
		update manager
		set
		manager_name= #{manager_name}, manager_id = #{manager_id}, manager_pw
		= #{manager_pw},
		manager_email = #{manager_email}, manager_type =
		#{manager_type}
		where manager_id =
		#{manager_id}
	</update>

	<select id="count" resultType="int">
		SELECT COUNT(*) FROM manager;
	</select>
	
	<!-- 검색 -->
    <select id="search" resultType="mmvo">
        SELECT * FROM manager
        WHERE manager_name LIKE #{keyword}
        ORDER BY manager_id
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 검색 페이지 -->
    <select id="search_count" resultType="int">
        SELECT COUNT(*) FROM manager
        WHERE manager_name LIKE #{keyword}
    </select>
</mapper>






