<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="list" resultType="nvo">
       select * from notices order by n_idx desc
    </select>
	
		<insert id="insert" parameterType="nvo">
		insert into notices(subject, writer,content, f_name, pwd, write_date, views)
		values(#{subject}, #{writer},#{content}, #{f_name}, #{pwd}, now(), 0)
	</insert>
	
	<!-- 조회수 업데이트  -->
	<update id="viewupdate" parameterType="String">
		update notices set views = views + 1 where n_idx = #{n_idx}
	</update>
	
	<select id="detail" parameterType="String" resultType="nvo">
		select * from notices where n_idx = #{n_idx}
	</select>
	
	<update id="update" parameterType="nvo">
	update notices
	set subject = #{subject} , content=#{content} , writer = #{writer} , f_name=#{f_name} 
	where n_idx = #{n_idx}
	</update>
	
	<select id="count" resultType="int">
		select count(*) from notices
	</select>
	
	<delete id="delete" parameterType="String">
		delete from notices where n_idx = #{n_idx}
	</delete>
	
	<select id="pageList" parameterType="Map" resultType="nvo">
		SELECT * FROM notices order by n_idx desc limit #{limit} offset #{offset};
	</select>
</mapper>



















