<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Saup">
    <insert id="insertSaup" parameterType="svo">
        INSERT INTO sellers (sellers_idx, store_name, contact_number, seller_rep_name, user_id, create_at, update_at)
        VALUES (#{sellers_idx}, #{store_name}, #{contact_number}, #{seller_rep_name}, #{user_id}, #{create_at}, #{update_at})
    </insert>
</mapper>